.catalog-container {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog {
  width: 116rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
}
